/* 
- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%) */

/*
    Josh Comeau's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* svg {
      width: 20px;
      height: 20px;
    } */

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  background-color: hsl(180, 52%, 96%);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-indent: 0;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.inactive {
  display: none;
}

/* header bar */

header {
  margin: 0;
  background-color: hsl(180, 29%, 50%);
}

.filter-bar {
  width: 390px;
  padding: 0.8em 1.75em;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1em;
  border-radius: 0.5em;
  background-color: azure;
  position: absolute;
  top: 12.5rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5rem;
  box-shadow: 0 10px 20px -7px hsl(180, 29%, 70%);
}

@media (min-width: 600px) {
  .filter-bar {
    width: 80vw;
  }
}

.filter-clear {
  margin-left: auto;
  border: none;
  background-color: inherit;
  font-size: 1.7rem;
  color: hsl(180, 29%, 40%);
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
  }
}

.button-wrapper {
  display: inline-flex;
  align-items: center;
  background-color: hsl(180, 31%, 95%);
  border-radius: 0.5em;
}

.button-wrapper button {
  border: none;
  background-color: inherit;
  padding: 0.4em;
  color: hsl(180, 29%, 50%);
  border-radius: 0.5em;
  font-size: 1.7rem;
  font-weight: 600;
}

.button-wrapper img {
  background-color: hsl(180, 29%, 50%);
  padding: 0.4em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

  &:hover {
    background-color: hsl(180, 14%, 20%);
    cursor: pointer;
  }
}

/* job list */
#app-jobs-ul {
  margin: 12em auto;
  width: 390px;
}

@media (min-width: 600px) {
  #app-jobs-ul {
    width: 80vw;
    margin: 9em auto;
  }
}

#logo {
  width: 7em;
  margin-top: -6em;
}

@media (min-width: 600px) {
  #logo {
    margin: 0;
  }
}

.border-left {
  border-left: 5px solid hsl(180, 29%, 50%);
}

/* job item */
.job-item {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  justify-content: left;
  align-items: left;
  padding: 2.5em 2.5em;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px -7px hsl(180, 29%, 75%);
  margin-bottom: 5em;
}

@media (min-width: 600px) {
  .job-item {
    display: grid;
    grid-template-columns: 7em 390px 1fr;
    align-items: center;
    gap: 2em;
  }
}

.job-details {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.details-info_section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.details-info_line-1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(180, 29%, 50%);
}

.position {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0.5em 0;
}

.details-info_line-3 {
  font-size: 1.7rem;
  font-weight: 500;
  color: hsl(180, 8%, 52%);
}

.details-info_line-3 span:not(:first-child) {
  margin-left: 0.5em;
}

.job-filters {
  margin-top: 0.5em;
  border-top: 1px solid hsl(180, 29%, 50%);
  padding-top: 2em;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;

  gap: 2em;
}

@media (min-width: 600px) {
  .job-filters {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
  }
}

.filter-btn {
  font-size: 1.7rem;
  font-weight: 700;
  background-color: hsl(180, 29%, 92%);

  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  color: hsl(180, 29%, 50%);
  border: none;

  &:hover {
    cursor: pointer;
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
  }
}

.featured,
.new {
  padding: 0.25em 1em;
  border-radius: 1em;
  color: hsl(180, 52%, 96%);
  margin-left: 1em;
  text-transform: uppercase;
}

.featured {
  background-color: hsl(180, 14%, 20%);
}

.new {
  background-color: hsl(180, 29%, 50%);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.doNotDisplay {
  display: none;
}
